<div class="panel panel-default event-template">
  <div class="media">
    <div class="media-left" style="float:left;padding:2px;">
      <a href="#">
        <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAANlBMVEXw8PB+RYF8QX/2+PaVbZd2NXry8/LXzteXcJnb1NyQZJL7//uCTIV4OXt0MHfWzdfDscSnianZqchYAAACEElEQVR4nO3dUU7jQBRE0UycOLEhNux/s8MGkF+jatOaOXcBpXf4TctcLpIkSZIk6fvm6ezmk4HLeju3dTmXOO/b9dy2/WTh4/7n3O4PQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQkJCQsIfXF9o+gXhVDmsBFz2x3Efr8qP78XrK1Ovj8JVe+k5w7Ru9+Ne78/j9xPP9xKwNvUqXLWtU0V4q/zpr8+34ycwb8+zp25BYWVrzKlBzyIkHP8sQsLxzyIkHP8sQsLxzyIkHP8sQsLxzyIkHP8sQsLxzyIkHP8sQsLxzyIk/MHWP/8rd/B5QfDRQ1SYeyISfLiSFVaqPPNJPj76DeHxC57kAzJCwvYICVsjJGyPkLA1QsL2CAlbIyRsj5CwNULC9ggJWyMkbI+QsDVCwvZGFeZ+V08KS+8GasLP45cRt9taIgaF19K/DPmsCC/Hj1u+WkpnBYX3pXRXBViqelZQOOYXeAjDU8kICftMJSMk7DOVjJCwz1QyQsI+U8kICftMJSMk7DOVjJCwz1QyQsI+U8kICftMJSMk7DOVjJCwz1QyQsI+U8kICftMJSMk7DOVjJCwz1QyQsI+U8kICftMJSMk7DOVjJCwz1QyQsI+U8kICftMJSMk7DOVjJCwz1Syed8qX3HY9oIwN5VsXkofcViXgjA3FW0ufcNhqlwVnJIkSZIk6f/tLx3Eif3f+ZgqAAAAAElFTkSuQmCC" data-holder-rendered="true" style="width: 64px; height: 64px;">
      </a>
    </div>
    <div class="media-body" style="padding:2px;">
      <div class="media-heading">
        <span style="font-weight:bold;font-size:15px;padding-right:15px;">
          <%= p.username %>
        </span>
      </div>

      <div style="padding: 4px 0 4px 0;font-size: 11px;">
        <span class="glyphicon glyphicon-envelope" style="padding-right:15px;">
          <span style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;"><%= p.email %></span>
        </span>

      </div>

      <div>
      </div>

    </div> <!--media-body-->
  </div> <!--media-->
</div> <!--panel-->
